@charset "utf-8";
aside {
    font-size: $font-size-base;
    h2 {
        color: #fff;
        padding: 10px;
        font-size: $font-size-large;
        background: #0099ff;
        border: 2px dashed #ffffcc;
        border-radius: 10px;
        box-shadow: 0 0 0 7px #0099ff;
    }
    ul,
    ol {
        margin: 0;
    }
    li {
        list-style-type: square;
    }
}