a {
  color: $color__link;
  &:visited {
    color: $color__link-visited;
  }
  &:hover {
    color: $color__link-hover;
    outline: 0;
  }
  &:focus {
    color: $color__link-focus;
    outline: thin dotted;
  }
  &:active {
    color: $color__link-active;
    outline: 0;
  }
}
